@font-face {
    font-family: 'Poppins';
    src: url;
}
:root {
    --verde-escuro: #235B2F;
    --verde-claro: #519A08;
    --bege: #F3FFE7;
    --laranja: #DE7E00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}

header{
    height: 15vh;
    background-color: var(--bege);
    -webkit-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
    box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
}

.grid-header {
    height: 100%;
    width: 90vw;
    max-width: 1920px;

    margin: 0 auto;

    display: flex;
    /* flex-direction: row/column; */
    justify-content: space-between;
    align-items: center;
}

.menu ul {
    display: flex;
    gap: 45px;
}
header img{
    height: 40px;
    cursor: pointer;
}

nav ul li a:hover{
    color: var(--verde-claro);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--verde-claro);
}

#logar ul{
    display: flex;
    gap: 20px;
    color: var(--verde-escuro);
}

ul li .login{
    color: white;
    background-color: var(--verde-escuro);
    padding: 15px;
    border-radius: 10px;
}

ul li .cadastro:hover{
    color: var(--verde-claro);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--verde-claro);
}

ul li .login:hover{
    background-color: var(--verde-claro);
}

header button{
    display: none;
    background: none;
    border: none;

    cursor: pointer;
}

.isotipo{
    display: none;
}

.menu-fechado{
    display: none;
}


body {
    background-color: #235B2F;
}