@font-face {
    /* font-family: ; */
    font-family: "poppins";
    src: url(fontes/Poppins.zip);

    font-family: "cornercafe";
    src: url(fontes/corner_cafe/Corner\ Cafe.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;

}

:root {
--verde-escuro: #235B2F;
--laranja:#DE7E00;
--verde-claro: #519A08;
--branco: #F3FFE7; 


}

body {
    background-color: #235B2F;
}


/* header - header - header - header - header - header - header - header */

a:visited {
    color: inherit;
}

header{
    height: 15vh;
    background-color: var(--branco);
    -webkit-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
    box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.6);
}

.grid-header {
    height: 100%;
    width: 90vw;
    max-width: 1920px;

    margin: 0 auto;

    display: flex;
    flex-direction: row/column; 
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 40px;
    cursor: pointer;
}

nav ul{
    display: flex;
    gap: 45px;
    color: var(--verde-escuro);
}

nav ul li a:hover{
    color: var(--verde-claro);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--verde-claro);
}

#logar ul{
    display: flex;
    gap: 20px;
    color: var(--verde-escuro);
}

ul li .login{
    color: white;
    background-color: var(--verde-escuro);
    padding: 15px;
    border-radius: 10px;
}

ul li .cadastro:hover{
    color: var(--verde-claro);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--verde-claro);
}

ul li .login:hover{
    background-color: var(--verde-claro);
}

header button{
    display: none;
    background: none;
    border: none;

    cursor: pointer;
}

.isotipo{
    display: none;
}

.menu-fechado{
    display: none;
}

/* header - header - header - header - header - header - header - header */


.grid-dicas {
    height: 100%;
    width: 80vw;
    max-width: 1920px;

    margin: 0 auto;

    display: flex;

    justify-content: center;
    align-items: center;

}

#dicas-newtri {
   
    margin-top: 50px;
}

.secao1dicas {

    /* height: fit-content; */
    /* width: 100%; */

    display: flex;
    justify-content: space-between;
    gap: 160px;
}

/* responsividade 1920px ate 320px */
/* responsividade 1920px ate 320px */
/* responsividade 1920px ate 320px */
/* responsividade 1920px ate 320px */

/* RECEITA */

.grid-receita {
    height: 100%;
    width: 80vw;
    max-width: 1920px;

    margin: 0 auto;

    display: flex;

    justify-content: center;
    align-items: center;

}

/* NUTRICIONISTA */
#dica-nutricionista {
    background-image: url(img/onda.svg);
    background-repeat: no-repeat;
}

.elementos-nutricionista {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
}

.texto-nutricionista {
    padding-top: 200px;
}

.texto-nutricionista h1 {
    font-family: "cornercafe";
    color: #235B2F;
    text-align: center;
    font-size: 70px;
}

.texto-nutricionista h2 {
    font-family: "poppins";
    color: #235B2F;
    text-align: center; 
    font-size: 1.7rem;
    padding-top: 100px;
}

.texto-nutricionista p {
    font-family: "poppins";
    color: #235B2F;
    text-align: center;
    font-size: 1.1rem;
    padding-top: 20px;
}



/*DIVERSAS-DICAS-DIVERSAS-DICAS-DIVERSAS-DICAS*/

#dicas{

    height: fit-content;

    background-image: url(img/OndaFooter.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-bottom: 350px;
}

.grid-dicas-diversas {
    width: 1280px;
    height: 380px;
    margin-top: 50px;


}

.grid-dicas-diversas {
    height: 100%;
    width: 80vw;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.tres-dicas {
    display: flex;
    justify-content: space-between;
    gap: 75px;
    padding-top: 50px;
    
}

.newtri-dicas-diversas {
    height: 380px;
    width: 310px;
    background-color: #F3FFE7;
    text-align: center;
    border-radius: 20px;
    
}

.tres-dicas h1 {
    font-family: "poppins";
    color: #235B2F;
    font-size: 18px;
}

.tres-dicas p {
    font-family: "poppins";
    color: #235B2F;
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}


.tres-dicas img {
    margin-top: 15px;
}


/* FOOTER-FOOTER-FOOTER-FOOTER-FOOTER-FOOTER */

footer{
    height: fit-content;
    /* margin-top: 50px; */

    font-family: 'Poppins';
    color: var(--verde-escuro);
    background-color: var(--branco);

    
}

.grid-footer{
    height: 100%;
    width: 80vw;
    max-width: 1920px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-row{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 250px;
}

.footer-column{
    display: flex;
    flex-direction: column;

    gap: 100px;
}

footer img{
    width: 200px;
}

footer h4{
    font-size: 1.1rem;

    margin-bottom: 10px;
}

footer p{
    font-size: 1rem;
}

footer .redes-sociais-icones{
    width: 200px;
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.icon-color{
    fill: var(--verde-escuro);
}

.icon-color:hover{
    fill: var(--verde-claro);
    cursor: pointer;
}

.navegacao h4{
    margin-bottom: 50px;
}

.navegacao ul{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.navegacao ul li:hover{
    color: var(--verde-claro);
    cursor: pointer;
}

.horario, .endereco{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.text-horario, .text-endereco{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-horario svg, .text-endereco svg{
    margin-right: 25px;
}

.footer-last{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 25px;

    cursor: pointer;
}



/* RESPONSIVIDADE-RESPONSIVIDADE-RESPONSIVIDADE */

@media screen and (max-width: 1270px) {

    .secao1dicas {
        gap: 90px;
    }

    .grid-dicas {
        width: 1100px;
    }

    .receita-granola img {
        width: 1100px;
    }

    .grid-nutricionista {
        width: 1200px;
    }
}


@media screen and (max-width: 1100px) {

    .grid-dicas {
        width: 1070px;
    }

    .secao1dicas {
        gap: 20px;
    }

    .grid-nutricionista {
        width: 1100px;
    }

}

@media screen and (max-width: 1080px) {

    .grid-dicas {
        width: 1080px;
    }

    .receita-granola img {
        width: 1080px;
    }

    .secao1dicas {
        gap: 20px;
    }

    .grid-nutricionista {
        width: 1080px;
    }

    .tres-dicas {
        gap: 50px;
    }

}

@media screen and (max-width: 1070px) {

    .grid-dicas {
        width: 1070px;
    }

    .receita-granola img {
        width: 1070px;
    }

    .secao1dicas {
        gap: 20px;
    }

    .grid-nutricionista {
        width: 1070px;
    }

    .tres-dicas {
        gap: 50px;
    }

}

@media screen and (max-width: 1024px) {

    .grid-dicas {
        width: 1024px;
    }

    .receita-granola img {
        width: 1024px;
    }

    .secao1dicas {
        gap: 20px;
    }

    .grid-nutricionista {
        width: 1024px;
    }

    .tres-dicas {
        gap: 40px;
    }

}


@media screen and (max-width: 1000px) {

    .grid-dicas {
        width: 1000px;
    }

    .receita-granola img {
        width: 1000px;
    }

    .grid-nutricionista {
        width: 1000px;
    }

    .tres-dicas {
        gap: 10px;
    }

    
}


@media screen and (max-width: 900px) {

    .grid-dicas {
        width: 900px;
    }

    .grid-nutricionista {
        width: 900px;
    }

    .receita-granola img {
        width: 900px;
    }

    .tres-dicas {
        width: 800px;
    }

    .newtri-dicas-diversas {
        height: 450px;
    }

    .tres-dicas img {
        width: 250px;
    }
    
    .secao1dicas img {
        width: 200px;
    }
}

@media screen and (max-width: 860px) {

    .grid-dicas {
        width: 860px;
    }

    .grid-nutricionista {
        width: 860px;
    }

    .receita-granola img {
        width: 860px;
    }

    .tres-dicas {
        width: 860px;
    }

    .newtri-dicas-diversas {
        height: 350px;
        width: 270px;
    }

    .tres-dicas img {
        width: 250px;
    }
    
    .secao1dicas img {
        width: 180px;
    }
}

@media screen and (max-width: 800px) {

    .grid-dicas {
        width: 800px;
    }

    .grid-nutricionista {
        width: 800px;
    }

    .receita-granola img {
        width: 800px;
    }

    .tres-dicas {
        width: 700px;
    }


    .newtri-dicas-diversas {
        height: 400px;
    }

    .tres-dicas img {
        width: 200px;
    }
    
    .secao1dicas img {
        width: 200px;
    }

}

@media screen and (max-width: 700px) {

    .grid-dicas {
        width: 700px;
    }

    .grid-nutricionista {
        width: 700px;
    }

    .receita-granola img {
        width: 700px;
    }

    .tres-dicas {
        width: 700px;
    }

    .texto-nutricionista h1 {
        font-size: 40px;

    }

    .texto-nutricionista h2 {
        font-size: 16px;
        padding-top: 20px;
    }

}


@media screen and (max-width: 600px) {

    .grid-dicas {
        width: 600px;
    }

    .grid-nutricionista {
        width: 600px;
    }

    .receita-granola img {
        width: 600px;
    }

    .tres-dicas {
        width: 600px;
    }

    .tres-dicas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newtri-dicas-diversas {
        height: 400px;
        width: 320px;
    }

    .tres-dicas img {
        width: 300px;
    }
    
    .secao1dicas img {
        width: 200px;
    }

    .secao1dicas img {
        width: 150px;
    }

}


@media screen and (max-width: 500px) {

    .grid-dicas {
        width: 500px;
    }

    .secao1dicas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid-nutricionista {
        width: 500px;
    }

    .elementos-nutricionista img {
        width: 180px;
       
       
    }

    .receita-granola img {
        width: 500px;
        margin-top: 50px;
    }

    .tres-dicas {
        width: 500px;
    }

    .tres-dicas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



}


@media screen and (max-width: 414px) {

    .grid-dicas {
        width: 414px;
    }

    .grid-nutricionista {
        width: 414px;
        height: 700px;
    }

    .receita-granola img {
        width: 414px;
        margin-top: 50px;
    }

    .tres-dicas {
        width: 414px;
    }

    .elementos-nutricionista img {
        width: 180px;
        height: 510px;
       
    }

    .tres-dicas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


/* responsividade-header */
@media screen and (max-width: 1000px){
    header button{
        display: unset;
    }

    nav ul{
        display: flex;
        flex-direction: column;

        background-color: var(--branco);
        padding: 10px;
        gap: 10px;

        align-items: center;

        position: absolute;
        top: 100px;
        right: 0px;
    }

    nav ul li a{
        min-width: 240px;
        min-height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--branco);
    }

    #logar ul{
        display: flex;
        flex-direction: column;

        background-color: var(--branco);
        padding: 10px;
        gap: 10px;

        position: absolute;
        top: 350px;
        right: 0px;
    }

    #logar ul li a{
        min-width: 240px;
        min-height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul li .login{
        background-color: var(--verde-escuro);
        padding: 15px 45px 15px;
        border-radius: 10px;
    }

    ul li .cadastro{
        background-color: var(--branco);
    }
}

@media screen and (max-width: 600px){
    .isotipo{
        display: unset;
    }
    
    .logotipo{
        display: none;
    }
}



/* RESPONSIVIDADE-FOOTER-RESPONSIVIDADE-FOOTER */

@media screen and (max-width: 860px){
    .footer-row{
        display: flex;
        flex-wrap: wrap;
    }

    .footer-column{
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 790px){
    .footer-row{
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 560px){
    .footer-row{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer-column{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    .isotipo{
        display: unset;
    }
    
    .logotipo{
        display: none;
    }
}